services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: monitoramento_web
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
    networks:
      - backend_net

  db:
    image: postgres:15
    container_name: monitoramento_db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend_net

  redis:
    image: redis:7
    container_name: monitoramento_redis
    restart: always
    command: >
      redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend_net

networks:
  backend_net:

volumes:
  postgres_data:
  redis_data:
