{% extends "base.html" %}
{% load static %}

{% block title %} Dashboard MQTT - Monitoramento Hospitalar {% endblock title %}
{% block header_title %} Dashboard de Monitoramento Hospitalar {% endblock header_title %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">
{% endblock %}

{% block content %}
    {% include "nav.html" %}

    {# Container preenchido dinamicamente pelo modal.js via fetch #}
    <div class="hospital_cards" id="hospitalCards">
        {# Os cards são renderizados via JS após GET /api/all-data/ #}
    </div>

    {% include "dashboard/modal.html" %}
{% endblock content %}

{% block extra_script %}
    <script>
        window.ALL_DATA_URL = "{% url 'get_all_data' %}";
    </script>
    <script src="{% static 'js/modal.js' %}"></script>
{% endblock extra_script %}