{% extends "base.html" %}
{% load static %}

    {% block title %} Dashboard MQTT - Monitoramento Hospitalar {% endblock title %}
    
    {% block header_title %} Dashboard de Monitoramento Hospitalar {% endblock header_title %}


    {% block content %}

    {% include "nav.html" %}
    
    <div class="hospital_cards">

        {% for data in hospitals %}
        <div class="hospital_card">

            <div class="hospital_name">
                {{ data.hospital }}
            </div>

            <div class="hospital_pressure">
                {{ data.pressure }}
                <span>bar</span>
            </div>

        </div>
        {% empty %}
            <p>Nenhum hospital encontrado.</p>
        {% endfor %}

    </div>
     
{% endblock content %}  

{% block extra_script %}
    <script src="{% static 'js/reload.js' %}"></script>
{% endblock extra_script %}
